<p> <a href = "aboutUs">About Us</a> </p>
<p><a href = "https://www.kingcounty.gov/">All information provided by King County</a></p>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='../public/js/app.js'></script> 