<!DOCTYPE html>
<html>
 <head>

        <%- include partials/head %>
     </head>
 </head>
 <body>
   <!-- <div id="about"> -->

      <%- include partials/nav %>


     <h1>Meet Team Property Scoop!</h1>
     <br>
     <img class="aboutimg" src="" alt="">
     <ul>
      <a href="https://github.com/aimbrock"><i style="font-size:3.5em" class="fa">&#xf09b;</i></a>&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/aaron-imbrock/"><i style="font-size:3.5em" class="fa">&#xf08c;</i> </a>&nbsp;&nbsp;
      <a href="https://property-scoop.herokuapp.com"><img class="herokuicon" src="../public/assets/icons8-heroku-48.png"></a>
      </ul>&nbsp;

     <h2 class="aboutname">Aaron Imbrock</h2>&nbsp;
     <p class="aboutparagraph">Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
     <br>
     <img class="aboutimg" src="../public/assets/anastasiaPic.jpg" alt="picture of Anastasia">
     <ul>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <a href="https://github.com/nastinsk"><i style="font-size:3.5em" class="fa">&#xf09b;</i></a>&nbsp;&nbsp;&nbsp;
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <a href="https://www.linkedin.com/in/nastinsk/"><i style="font-size:3.5em" class="fa">&#xf08c;</i> </a>&nbsp;&nbsp;
   <a href="https://property-scoop.herokuapp.com"><img class="herokuicon" src="../public/assets/icons8-heroku-48.png"></a>
     </ul><br>
   
     <h2 class="aboutname">Anastasia Lebedeva</h2>&nbsp;
     
     <p class="aboutparagraph">Hi! I am a Java Script Software developer. Currently, I am working on expanding my skillset and exploring the depths of software development. I am passionate about automation, improving things and creating solutions for reducing waste of time and resources in all spheres of our lives. I am thrilled how the tech sphere creates things that were unimaginable before and I want to be part of this process. I am seeking opportunities to work in the team with great culture, values, and mission that will be in sync with my personality.</p>
     <br>
     <img class="aboutimg" src="../public/assets/profile.jpg" alt="">
     <ul>
     <a href="https://github.com/ludwindl"><i style="font-size:3.5em" class="fa">&#xf09b;</i></a>&nbsp;&nbsp;&nbsp;
     <a href="https://www.linkedin.com/in/ludwin-de-leon-81391a106/"><i style="font-size:3.5em" class="fa">&#xf08c;</i> </a>&nbsp;&nbsp;
     <a href="https://property-scoop.herokuapp.com"><img class="herokuicon" src="../public/assets/icons8-heroku-48.png"></a>
     </ul>&nbsp;

     <h2 class="aboutname">Ludwin De Leon</h2>&nbsp;
     <p class="aboutparagraph">I am Software Developer. I am looking to expand my knowlege so I can create cool stuff especially in the education arena. I have worked in administration for the last couple of years and I am exited to pursue a new career in tech. </p>
     <br>
     <img class="aboutimg" src="../public/assets/ryanPic.jpg" alt="picture of Ryan">
     <ul>
      <a href="https://github.com/MrDippington"><i style="font-size:3.5em" class="fa">&#xf09b;</i></a>&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/ryan-sanders-430263179/"><i style="font-size:3.5em" class="fa">&#xf08c;</i> </a>&nbsp;&nbsp;
      <a href="https://property-scoop.herokuapp.com"><img class="herokuicon" src="../public/assets/icons8-heroku-48.png"></a>
      </ul>&nbsp;
     <h2 class="aboutname">Ryan Sanders</h2>&nbsp;
     <p class="aboutparagraph">Ryan Sanders is a software developer who has served in the United States Army and has worked in several customer service capacities over the years. He's passionate about culture and helping others complete tasks in high pressure situations.  He’s a movie buff and a music enthusiast. In his free time, he enjoys retro gaming and building on his coding experience.</p>
     <br>
   <!-- </div> -->
 </body>
</html>