<!DOCTYPE html>
<html>
 <head>

        <%- include partials/head %>
     </head>
 </head>
 <body id="bg">
   <!-- <div id="about"> -->

      <%- include partials/nav %>


     <h1>Meet Team Property Scoop!</h1>
     <br>
     <img src="" alt="">
     <h2 id="name">Aaron Imbrock</h2>
     <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
     <br>
     <img src="../public/assets/anastasiaPic.jpg" alt="picture of Anastasia">
     <h2 id="name">Anastasia Lebedeva</h2>
     <p>Hi! I am a Java Script Software developer. Currently, I am working on expanding my skillset and exploring the depths of software development. I am passionate about automation, improving things and creating solutions for reducing waste of time and resources in all spheres of our lives. I am thrilled how the tech sphere creates things that were unimaginable before and I want to be part of this process. I am seeking opportunities to work in the team with great culture, values, and mission that will be in sync with my personality.</p>
     <br>
     <img src="" alt="">
     <h2 id="name">Ludwin De Leon</h2>
     <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>
     <br>
     <img src="../public/assets/ryanPic.jpg" alt="picture of Ryan">
     <h2 id="name">Ryan Sanders</h2>
     <p>Ryan Sanders is a software developer who has served in the United States Army and has worked in several customer service capacities over the years. He's passionate about culture and helping others complete tasks in high pressure situations.  He’s a movie buff and a music enthusiast. In his free time, he enjoys retro gaming and building on his coding experience.</p>
   <!-- </div> -->
 </body>
</html>