<!DOCTYPE html>

<html lang="en">

   <head>
    <%- include partials/head %>
    </head>

    <body id="indexPage">
       

           <%- include partials/nav%>

        
            <div class = "container">
                <header>
                    <img id = "logo" src="../public/css/img/logo1.png" alt='logo'>
                    <p>Enter the address to get information about the building in King County, WA</p>
                </header>
                <main>

                    <form id="search-form" action="searchResults" >

                        
                            <label for="search">Search for a building:</label>
                            <input type="text" name="search" id="inputSearch" placeholder="Enter a building address here" required>
                        
                        <button type="submit">Search</button>
                    </form>
                    

                </main>
            </div>
            <footer>

                <%- include partials/footer %>

            </footer>
            
    
    </body>
</html>