<!DOCTYPE html>

<html lang="en">

   <head>
    <%- include partials/head %>
    </head>

    <body id="indexPage">
       

           <%- include partials/nav%>

        
            <div class = "container">
                <header>
                    <img id = "logo" src="../public/css/img/logo1.png" alt='logo'>
                    
                </header>
            
                <main>
                </main>
            </div>
        <footer>

                <%- include partials/footer %>

            </footer>
            
    
    </body>
</html>
