<!DOCTYPE html>

<html lang="en">

        <head>
                <%- include partials/head %>
        </head>

    <body id = "searchResults"> 

            <%- include partials/nav%> 

        <div class = "container">
            <header>
                <img id = "logo" src="../public/css/img/logo1.png" alt='logo'>
                
            </header>
            <main>
                
                <div id = "displayMapContainer"> 
                    <img id ="map" src ="<%= locationData %>" alt="Map of search query">
                </div> 
                <h2>Your address: ____________</h2>

                <section class = "buildingImg">
                    <img src = "" alt = "image of the building">
                </section>

                <section class = "buildingData">
                    <p>Owner's name: </p>  
                    <p>Building permit:</p>
                    <p>Year was built:</p>
                    <p>Property value:</p>
                    <p>Lot Sq Feet:</p>
                    <p id = "smallNote">*Lot lines are approximate. Not for legal use.</p>

                </section>
                <section class = "buttons">
                    <button id="save">Save Building</button>
                    <button id="newSearch">New Search</button>

                </section>

                
            </main>
        </div>
        <footer>

                <%- include partials/footer %>

         </footer>
    </body>
</html> 