<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">

        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
        <title>Property-scoop</title>
        <link href="../public/css/styles/reset.css" type="text/css" rel="stylesheet" />
        <link href="../public/css/styles/base.css" type="text/css" rel="stylesheet" />
        <link href="../public/css/styles/layout.css" type="text/css" rel="stylesheet" />
        <link href="../public/css/styles/modules.css" type="text/css" rel="stylesheet" />
        <!-- <link href="../public/styles/icons.css" type="text/css" rel="stylesheet" /> -->
            
    </head>

    <body id = "searchResults"> 
        <div class = "container">
            <header>
                <img id = "logo" src="../public/css/img/logo1.png" alt='logo'>
                
            </header>
            <main>
                
                <div id = "displayMapContainer"> 
                <img id = "map" src ="" alt="Map of search query">
                </div> 
                <h2>Your address: ____________</h2>

                <section class = "buildingImg">
                    <img src = "" alt = "image of the building">
                </section>

                <section class = "buildingData">
                    <p>Owner's name: </p>  
                    <p>Building permit:</p>
                    <p>Year was built:</p>
                    <p>Property value:</p>
                    <p>Lot Sq Feet:</p>
                    <p id = "smallNote">*Lot lines are approximate. Not for legal use.</p>

                </section>
                <section class = "buttons">
                    <button id="save">Save Building</button>
                    <button id="newSearch">New Search</button>

                </section>

                
            </main>
        </div>
        <footer>
                <p><a href = "aboutUs">About Us</a> </p>
                <p><a href = "https://www.kingcounty.gov/">All information provided by King County</a></p>
         </footer>
    </body>
</html> 