<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">

        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
        <title>Property-scoop</title>
        <link href="../public/css/styles/reset.css" type="text/css" rel="stylesheet" />
        <link href="../public/css/styles/base.css" type="text/css" rel="stylesheet" />
        <link href="../public/css/styles/layout.css" type="text/css" rel="stylesheet" />
        <link href="../public/css/styles/modules.css" type="text/css" rel="stylesheet" />
        <!-- <link href="../public/styles/icons.css" type="text/css" rel="stylesheet" /> -->
            
    </head>

    <body id = "searchResults"> 
        <header>
            <h1>Property Scoop (logo??)</h1>
            <p>Enter the address to get information about the building</p>
        </header>
        <main>
            <form id="search-form" >
                <label for="search">Search for a building</label>
                <input type="text" name="search" id="inputSearch" placeholder="Enter a building address here">
                <button type="submit">Get information</button>
            </form>
        </main>
        <footer></footer>
    </body>
</html> 