body{
    background-color: grey;
    text-align:center;
    height: 100%;
}

#indexPage{
    margin-top: 20%;
}
#searchResults #logo{
    margin-top:15%;
}

#indexPage #logo{
    width: 35%;
   
}

#indexPage header p{
    margin: 5% auto 3% auto;
    font-size: 2em;
    color: orange;
}

#displayMapContainer{
    width: 80%;
    height: 20em;
    border: 2px dotted black;
    margin: 3% auto 3% auto;
}

#searchResults h2{
    font-size: 1.4em;
}

#searchResults .buildingImg{
    width: 30%;
    height: 10em;
    border: 2px solid black;
    margin:3% auto 2% auto;
}

footer{
   position: absolute;
   top: 95%;
   margin: 0 40%;
}

#smallNote{
    font-size: 0.75em;
}