body{
    background-color:rgb(163, 162, 162);
    text-align:center;
    margin:0;
    padding:0;
    display: flex;
   flex-direction: column;
   justify-content: space-between; 
   height:100%;
   font-family: "Avenir Next", "Avenir", sans-serif;
   width: 100vw;
}

a{
  text-decoration: none;
  color: black;
  font-size: 1em;
  line-height: 1.5em;
}

a:hover{
    border-bottom: 1px solid grey;
    color: rgb(177, 87, 14);
    
}






