footer{
  position:relative;
  bottom:0; 
  width:100%;
  height:60px; 
  font-size: 20px;      
}

/* ======================LOGO======================== */
#searchResults #logo, #savedBuildingsPage #logo, #showBuildingPage #logo{
  margin-top:5vh;
  width: 20vh;
}

#indexPage #logo{
  margin-top:16vh;
  width: 20vh;
 
}
/* ======================================================= */

/* =================DROP DOWN MENU (credit to https://fullst-ck.dev/ for his awesome 
* hamburger menu technic)============ */

a{
  transition: color 0.3s ease;
}

#menuToggle{
display: block;
position: relative;
top: 50px;
left: 50px;
width:calc(100% - 50px);
z-index: 1;
-webkit-user-select: none;
user-select: none;
}

#menuToggle input{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;
cursor: pointer;
opacity: 0; /* hide this */
z-index: 2; /* and place it over the hamburger */
-webkit-touch-callout: none;
}

#menuToggle span{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;

background: #e4e4e4;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}

#menuToggle span:first-child{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
transform-origin: 0% 100%;
}

/*  Transform all the spans into a crossmark. */
#menuToggle input:checked ~ span{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #232323;
}

/* hide the middle one.*/
#menuToggle input:checked ~ span:nth-last-child(3){
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

/* the last one should go the other direction*/
#menuToggle input:checked ~ span:nth-last-child(2){
transform: rotate(-45deg) translate(0, -1px);
}

#menu{
position: absolute;
width: 100%;
height: 50px;
margin:-100px 0 0 -50px;
padding: 30px;
padding-top: 70px;

background: #ededed88;
list-style-type: none;
-webkit-font-smoothing: antialiased;
/* to stop flickering of text in safari */

transform-origin: 0% 0%;
transform: translate(-100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  display: inline;
padding: 10px 0;
font-size: 27px;
margin-left: 40px;
font-weight: bold;
color: #232323;
}

#savedBuildingsPage #menu li {
padding: 20px;
}




#menu li:hover{
  color: rgb(177, 87, 14);
}

#menuToggle input:checked ~ ul{
transform: none;
}

/* ==================================================================== */

#indexPage header p{
  margin: 5% auto 3% auto;
  font-size: 2em;
  color: rgb(177, 87, 14);
  width: 70vw;
}

/* map */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 75%;  /* The width is the width of the web page */
  border: 2px dotted black;
  margin: 3% auto 2% auto;
}

/* address */
#searchResults h2{
  font-size: 1.6em;
  font-weight: bold;
  color:rgb(48, 45, 45);
  width: 80vw;
  margin: 10px auto;
}

/* pano */
#searchResults #pano{ 
  margin:3% auto 2% auto;
  height: 25vh;
  width: 75%; 
}









 
  