/*about us page.*/

.aboutimg {
    border-radius: 50%;
    height: 25em;
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .aboutname {
    font-weight: bolder;
  }
  
  .aboutparagraph {
    font-size: 13px;
    width: 80%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
  } 
 
  