* {
  width: 100%;
 }
 img {
  border-radius: 50%;
  height: 15em;
  width: 15em;
  float: right;
  margin: 0 0 0 10px;
 }
  
 #bg {
  background-image: url('../../assets/osman-rana-dI9KhXi0ooE-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  font-family: 'Lexend Giga', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
 }
  
 h1 {
  text-align: center;
 }
  
 #about {
  float: left;
 }
  
 #name {
  text-align: right;
 }
 